.Contact {
    font-family: 'Heebo';
    background-color: #FFFFFF;  
    min-height: 100vh;
    width: 100%;
    display: flex;  
    flex-direction: row;
}

.rectangle-contact {
    width: 65%;
    background-color: #272E2C;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-name {
    font-weight: bold;
    font-size: 175%;
    margin-bottom: 0%;
}

.email {
    font-weight: normal;
    font-size: 140%;
    margin-top: 0%;
    margin-bottom: 10%;

}

.contact-title {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 375%;
    font-weight: bold;
    margin-bottom: 1vh;
}

.contact-subtext {
    color: #FFFFFF;
    font-size: 150%;
    margin-top: 0vh;
}

.github {
    height: 8vmin;
    margin-left: 5%;
}

.linkedin {
    height: 8vmin;
}

.portfolio {
    height: 8vmin;
    margin-left: 5%;
}

.contact-stuff {
    margin-left: 25%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: left;
}

.contact-pics {
    margin-top: -5vh;
    display: in-line flex;
    flex-direction: row;
}