.Home {
    background-color: #272E2C;  
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#home-fade p {
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.nav-bar {
    font-family: 'Heebo';
    justify-content: top;
    margin-top: 4vh;
    /* align-items: center; */
    align-content: flex-start;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.about-home-text {
    color: white;
}

.about-home-text:hover {
    text-decoration: underline;
}

.experiences-home-text {
    color: white;
}

.experiences-home-text:hover {
    text-decoration: underline;
}

.projects-home-text {
    color: white;
}

.projects-home-text:hover {
    text-decoration: underline
}

.contacts-home-text {
    color: white;
}

.contacts-home-text:hover {
    text-decoration: underline;
}




.home-stuff {
    /* align-content: center; */
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.name {
    font-family: 'Heebo';
    font-weight: bold;
    font-size: 6vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0vh;
    justify-content: center;
    align-content: center;
}

.name-subtext {
    margin-top: 0vh;
    font-size: 2.5vh;
    font-family: 'Heebo';
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}


.profpic {
    margin-bottom: -1vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 30vmin;
    border-radius: 50%;
    pointer-events: none;
}


/* h2 > a {
    position: relative;
    color: #000;
    text-decoration: none;
  }
  
  h2 > a:hover {
    color: #000;
  }
  
  a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 5;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  } */
  