@import url('https://fonts.googleapis.com/css?family=Heebo:regular,bold,light&subset=latin,latin-ext');


body, html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.PersonalWebsite {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: 'Heebo', sans-serif;
}

.Website-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: white;
  text-decoration: none;
}

section {
  scroll-snap-align: start; 
}
/* .stuff-lmao {
  scroll-snap-align: start;
} */