.Projects {
    font-family: 'Heebo';
    background-color: #FFFFFF;  
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.dafuq {
    /* justify-content: flex-end; */
}

.rectangle2 {
    height: 100vh;
    width: 40%;
    background-color: #738290;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-title {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 375%;
    font-weight: bold;
    margin-bottom: 1vh;
}

.projects-subtext {
    color: #FFFFFF;
    font-size: 150%;
    margin-top: 0vh;
}

.fukin-items { 
    /* color: #FFFFFF; */
    height: 100vh;
    width: 60%;
    text-align: center;
}

.parthlovesmoms {
    color: black;
    margin-top: 25%;
    margin-bottom: auto;
    display: inline-block;
    justify-content: center;
}